
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Martian Mono", monospace;
    overflow: hidden;
  }

.p5Canvas {
    position: absolute;
    /* display: none; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

p {
    color:aquamarine;
}

.starting-box {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: rgba(235, 58, 111, 0.5); 
    border-radius: 20px; /* Rounded corners */
    padding: 20px;
    text-align: center;
    color: black;
    z-index: 1;
  }
  
.starting-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.93); 
    z-index: 0;
}

#starting-input {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Martian Mono", monospace;
    background-color: #f5f6f7; /* Button background color */
    color: #4287f5; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#starting-input::placeholder {
    font-size: 16px;
    text-align: center;
}

#starting-msg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Grey with transparency */
    z-index: 5; 
    text-align: left;
}

#starting-msg-overlay .end-def {
    font-weight: 900;
}

#starting-msg-overlay .title-def {
    font-size: 56px;
}

#starting-msg-overlay p {
    margin-left: 25px;
}

#starting-msg-overlay .text-convo {
    margin-left: 0px;
    text-align: center;
}

#starting-msg-overlay .dar-text {
    color: red;
}

#starting-msg-overlay .du-text {
    color: blue;
}

.continue-button {
    display: none; /* will be faded in */
    padding: 10px 20px;
    background-color: #47665C;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    position: absolute;
    left: 50%;
    margin-top: 80px;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
    transform: translateX(-50%);
}

.continue-button:hover {
    background-color: #1A332A;
}

/* 
    color scheme:
    #80FFD4
    #8FCCB8
    #8A9994
    #47665C
    #1A332A
*/